.terraform/
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

Testing/

aws-keys/
*.pem

day-29 - GitOps Patient Zero EKS, Argo CD, and Kustomize